In [25]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
%matplotlib inline

In [9]:
pd.core.common.is_list_like = pd.api.types.is_list_like


import pandas_datareader as web

In [11]:
start = '01/01/2017'
end = '01/01/2018'

In [14]:
data.drop(['interpolated', 'session'], axis = 1, inplace=True)

In [15]:
data.reset_index(inplace=True)

In [16]:
#data.drop([['interpolated', 'session']], axis = 1, inplace=True)

In [75]:
#data.drop([['symbol', 'interpolated', 'session']], axis = 1, inplace=True)

In [13]:
data = web.DataReader('AAPL', data_source='robinhood', start=start, end=end )

In [17]:
data.head()

  symbol  begins_at close_price  high_price   low_price  open_price    volume
0   AAPL 2017-09-27  151.932800  152.414400  151.253000  151.509200  25504227
1   AAPL 2017-09-28  150.996900  151.982000  150.425600  151.597800  22005455
2   AAPL 2017-09-29  151.824400  151.834300  149.736000  150.928000  26299810
3   AAPL 2017-10-02  151.519000  152.149500  150.445300  151.962300  18698842
4   AAPL 2017-10-03  152.179000  152.780000  151.617500  151.716000  16230293

In [18]:
data.set_index('begins_at', inplace=True)

In [19]:
data.head() #remoce iter, session

           symbol close_price  high_price   low_price  open_price    volume
begins_at
2017-09-27   AAPL  151.932800  152.414400  151.253000  151.509200  25504227
2017-09-28   AAPL  150.996900  151.982000  150.425600  151.597800  22005455
2017-09-29   AAPL  151.824400  151.834300  149.736000  150.928000  26299810
2017-10-02   AAPL  151.519000  152.149500  150.445300  151.962300  18698842
2017-10-03   AAPL  152.179000  152.780000  151.617500  151.716000  16230293

The Following is me trying to get fundementals from Yahoo finance.

In [84]:
url = 'https://finance.yahoo.com/quote/AAPL?p=AAPL'

In [85]:
res = requests.get(url)

In [86]:
#print(res.status_code)
#print(res.content)

In [87]:
soup = BeautifulSoup(res.content, 'lxml')

In [88]:
td = soup.find('td', {'class':'Ta(end) Fw(b) Lh(14px)'})

In [89]:
td.attrs

{'class': ['Ta(end)', 'Fw(b)', 'Lh(14px)'],
 'data-test': 'PREV_CLOSE-value',
 'data-reactid': '14'}

In [90]:
span = soup.find('div', {'class':'D(ib) W(1/2) Bxz(bb) Pstart(12px) Va(t) ie-7_D(i) ie-7_Pos(a) smartphone_D(b) smartphone_W(100%) smartphone_Pstart(0px) smartphone_BdB smartphone_Bdc($c-fuji-grey-c)'})

In [115]:
for price in soup.find(attrs={'class':'D(ib) W(1/2) Bxz(bb) Pstart(12px) Va(t) ie-7_D(i) ie-7_Pos(a) smartphone_D(b) smartphone_W(100%) smartphone_Pstart(0px) smartphone_BdB smartphone_Bdc($c-fuji-grey-c)', ' data-reactid':'71'}):
    print(price)

TypeError: 'NoneType' object is not iterable

In [108]:
x.attrs

AttributeError: 'NoneType' object has no attribute 'attrs'

In [116]:
x = span.find('span', {'class':'Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($c-fuji-grey-c) H(36px)', ' data-reactid':'97'})

In [117]:
tr.attrs

AttributeError: 'NoneType' object has no attribute 'attrs'

In [41]:
tr['class'][4]

'H(36px)'

In [ ]:
trs = soup.find('tr', {'class':'btn btn-lg btn-primary'})

In [ ]:
"https://query1.finance.yahoo.com/v7/finance/download/MSFT?period1=1001908800&amp;period2=1538366400&amp;interval=1d&amp;events=history&amp;crumb=P3Id4gUrQKL" download="MSFT.csv"><svg class="Va(m)! Mend(5px) Stk($c-fuji-blue-1-b)! Fill($c-fuji-blue-1-b)! Cur(p)" width="15" height="15" viewBox="0 0 48 48" data-icon="download" style="fill: rgb(0, 129, 242); stroke: rgb(0, 129, 242); stroke-width: 0; vertical-align: bottom;"><path d="M43.002 43.002h-38c-1.106 0-2.002-.896-2.002-2v-11c0-1.105.896-2 2.002-2 1.103 0 1.998.895 1.998 2v9h34.002v-9c0-1.105.896-2 2-2s2 .895 2 2v11c0 1.103-.896 2-2 2m-19-8L11.57 23.307c-.75-.748-.75-1.965 0-2.715.75-.75 1.965-.75 2.715 0l7.717 7.716V2h4v26.308l7.717-7.716c.75-.75 1.964-.75 2.714 0s.75 1.967 0 2.715L24.002 35.002z"